@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1700px)
  .container
    padding: 0 45px

  .header-bottom
    padding: 20px 0

  .header-top
    padding: 28px 0

  .header-menu__item
    margin: 0 20px 0 0

  .links-callback
    margin: 0 20px

  .main-home
    padding: 210px 0 80px

  .advantages-section
    padding: 40px 0 90px

  .sales-slider
    .slick-slide
      margin: 0 12.5px

  .sales-slider-box
    padding: 10px 40px

    h3
      margin: 0 0 10px
      line-height: 34px
      font-size: 33.5px

  .box-condition
    font-size: 13px
    padding: 10px 19px


  .callback-manager
    padding: 118px 40px

  .advantages-wrapper
    padding: 0

  .about
    padding: 90px 0 74px

  .scores
    padding: 0 0 63px

  .reviews
    padding: 59px 0 55px

  .seo-section
    padding: 90px 0

  footer
    padding: 0 0 63px

  .footer-row-info
    margin: 0 100px 0 0

  .tooltip-box
    min-width: 500px
    padding: 23px 30px 30px

  .dropdown-menu
    min-width: auto
    width: 100%

  .dropdown-menu-header
    min-width: 282px

  .dropdown-menu-cabinet
    min-width: 245px

  .form-filter-catalog .dropdown-toggle
    min-width: 155px

  .card-product
    height: 380px

  .information-product-orders
    padding: 0

  .order-details-list li p
    min-width: 150px

  .filter-orders .form-group
    width: 35%

/* Medium Devices, Desktops */
@media only screen and (max-width: 1560px)
  .sidebar-wrapper
    width: 102px

  .content-wrapper
    width: calc(100% - 102px)

  .header-bottom
    padding: 0

  .header-top
    padding: 28px 0

  .form-filter
    justify-content: space-around

  .navigation
    font-size: 12px

  .nav-links__icon
    width: 52px
    height: 50px

  .navigation .nav-item
    height: 121px

  .table-availability
    .phone-list
      max-width: 150px

  .table-availability .td:nth-child(2)
    width: 25%

  .table-availability .td:nth-child(1)
    width: 53%

  .table-availability .td:nth-child(3)
    width: 15%

  .details-information
    max-width: 900px
    width: 100%

  .list-characteristics .form-group__title
    min-width: 280px
    max-width: 280px
    padding: 0 25px 0 0

  .wholesale-catalog-wrapper
    width: 100%

/* Small Devices, Tablets */
@media only screen and (max-width: 1500px)
  .links-callback
    margin: 0 10px



@media only screen and (max-width: 1440px)
  header
    .phone
      font-size: 17px
      margin: 0 20px 0 0

    .links-callback
      display: none

  .btn-accent
    padding: 11.5px 24px

  .tooltip-box
    left: auto
    right: 0
    transform: none

  .footer-row-info
    margin: 0

  .product-mini-info
    padding: 0

  .wholesale-catalog
    .form-filter-catalog
      .form-group
        width: 24%

      .list-radio
        li
          width: 50%

  .footer-bottom-my
    p
      width: 100%
      margin: 10px 0 0

  .wholesale-catalog-wrapper header .header-box
    margin: 0 0 0 20px

  .nav-catalog
    margin: 0 0 0 20px

@media only screen and (max-width: 1300px)
  .footer-col
    margin: 0 40px 0 0

  .card-product-col
    max-width: 20%
    flex: 20%

  .catalog-wrapper
    .card-product-col
      display: none
      &:nth-child(-n+5)
        display: block

  .pagination
    max-width: 410px
    li
      &:nth-child(7)
        margin: 0

  .greeting-manager-box__photo
    max-width: 100px
    top: 20px
    right: -20px

  .greeting-manager-box .callback-manager__item
    font-size: 12px
    p
      max-width: 140px
    strong
      font-size: 12px

  .table-products .tr
    padding: 10px 20px

  .btn-favorite-product
    display: none

  .td-name
    width: 27%

  .table-products
    .table-head
      .td-price
        .table-sorting-box
          p
            max-width: 75px

  .nav-catalog
    width: 80%
    order: -1
    margin: 0 0 15px

  .wholesale-catalog-wrapper header .phone
    margin: 0
    display: flex
    justify-content: flex-end

  .wholesale-catalog-wrapper header .dropdown-phone
    order: -1
    margin: 0 0 15px
    width: 20%

  .wholesale-catalog-wrapper header .header-box
    margin: 0 0 0 auto

  .wholesale-catalog-wrapper .header-bottom
    padding: 20px 0 30px

  .form-search-catalog
    margin: 0 0 30px

  .sorting-wrapper .nav-pagination
    display: none

  .sorting-wrapper .catalog-views
    margin: 0

@media only screen and (max-width: 1200px)
  .header-box__links
    width: 50px
    height: 50px
    padding: 8px

  .btn-filter-result
    max-width: 256px

  .form-group
    margin: 0 0 15px

  .dropdown-toggle
    padding: 16px 24px
    height: 50px

  .radio
    padding: 16px 24px
    height: 50px

  .main-home__title
    margin: 0 0 40px

  .nav-tabs-filter, h1
    font-size: 30px

  .main-home
    padding: 160px 0 25px

  .links-question
    position: relative
    margin: 0 0 0 auto
    top: 0
    transform: none

  .form-filter-footer
    margin: 25px auto 0

  .advantages-box
    font-size: 14px
    margin: 0 0 70px
    border: none

    p
      font-size: 25px

  .advantages-section
    padding: 40px 0 94px

  .about
    padding: 40px 0 32px

  .img-logo
    margin: 40px auto
    max-width: 773px

  .description-text
    font-size: 15px

  .reviews-col
    display: none

    &:nth-child(-n+2)
      display: block

  .scores
    padding: 0

    h2
      margin: 0 0 25px

    .tab-content
      margin: 25px 0 40px

  .footer-row-menu
    order: 1
    width: 100%
    justify-content: space-between
    flex-wrap: nowrap

  .footer-col
    margin: 0

  .footer-row-info
    width: 100%
    margin: 0 0 30px
    display: flex
    align-items: flex-start
    flex-wrap: wrap
    justify-content: space-between

  .header-box__links
    padding: 0

  .modal-content
    padding: 25px 40px


  .link-reset-password
    margin: 0 0 15px

  .quick-entry
    margin: 15px 0 0

  .modal-entrance .form-callback__footer
    margin: 15px 0 0

  .form-search-default
    width: calc(100% - 210px)
    input
      height: 50px
      font-size: 15px
      padding: 0 15px
    button
      right: 19px

  .form-filter-catalog
    .form-group
      width: 24%
      &:nth-child(-n+3)
        width: 32%
    .dropdown-toggle
      min-width: auto
    .list-radio
      li
        width: 50%

  .clear-filter
    width: 100%
    order: 1

  .form-result-filter .clear-filter
    margin: 10px 0 0

  .tagging-filter
    height: 30px
    padding: 3px 15px

  .sorting-box
    width: 100%
    margin: 10px 0 0

  .table-availability .td:nth-child(2)
    width: 30%

  .table-availability .td:nth-child(1)
    width: 44%

  .list-remainder
    flex-direction: column
    align-items: flex-start
    li
      margin: 0 0 10px

  .total-sum
    font-size: 40px

  .amount-wrapper .amount
    height: 50px
    width: 100%
    input
      height: 100%
      width: 70%
    span
      width: 15%

  .product-wrapper
    margin: 34px 0 0

  .title-mobile
    margin-top: 20px

  .purchase-block__item
    margin: 0 0 20px

  .purchase-block .btn
    height: 50px

  .other-goods
    margin: 40px 0 90px

  .information-product-orders
    .greeting-manager-box
      padding: 30px
      .btn
        margin: 20px 0 0
      .callback-manager__item p
        max-width: none

  .td-name
    width: 22%

  .td-row-price
    width: 25%

  .td-remainder
    width: 13%

  .td-season
    width: 9%

  .information-product-orders .greeting-manager-box
    margin: 46px 0 52px

  .services-additionally-box__img
    width: 70px
    height: 70px

  .services-additionally-box__body
    width: calc(100% - 70px)
    padding: 0 0 0 20px

  .services-additionally-box
    margin: 0 0 20px

  .price-table, .total-price-table
    flex-wrap: wrap

  .wholesale-catalog .form-filter-catalog .form-group
    width: 24%

  .cabinet-sidebar
    margin: 0 0 40px

  .cabinet-menu
    display: flex
    align-items: stretch

  .cabinet-menu__item
    flex: 1
    padding: 0
    &:after
      content: ''
      position: absolute
      top: 50%
      transform: translate(0,-50%)
      right: 0
      width: 1px
      height: 40px
      background: #E6E6E6

    &:before
      width: 100%
      height: 4px
      left: 0
      bottom: 0
      top: auto
    &:last-child
      &:after
        display: none


  .cabinet-menu__links
    border: none
    flex-direction: column
    align-items: center
    padding: 18px 0
    &:after
      display: none

  .cabinet-menu__icon
    margin: 0 auto 15px

  .card-order-product__name
    width: 50%




@media only screen and (max-width: 992px)
  .form-filter
    justify-content: space-between

  .form-group
    &:nth-child(-n+3)
      width: 100%
      max-width: 32.3%

    .list-radio
      li
        width: 50%

  .sales-slider .slick-slide
    margin: 0 auto

  .sales-slider-box
    padding: 22px 40px

    h3
      font-size: 42px

  .box-condition
    font-size: 16px
    padding: 12px 24px

  .callback-manager
    padding: 58px 0 80px

  .callback-manager__form
    max-width: 330px

  .callback-manager__item
    font-size: 14px
    padding: 20px 30px
    margin: 0 0 10px

    p
      margin: 0 0 10px

  .callback-manager__avatar
    width: 183px
    margin: -30px 0 0 -30px

    &:before
      width: 183px
      height: 183px
      left: 5px

  .advantages-box-about
    font-size: 14px
    margin: 0 0 40px
    flex-direction: column
    align-items: flex-start
    width: 22.5%

  .advantages-box-about__body
    width: 100%
    padding: 0
    margin: 20px 0 0

  .advantages-wrapper
    margin: 40px 0 0

  .about-box__top
    margin: 0 0 24px

  .about
    padding: 40px 0 0

  .map
    height: 350px

  .reviews
    padding: 59px 0 70px

    .load-more
      margin: 40px auto 0

  .btn-border
    padding: 9.5px 50px

  .seo-section
    padding: 40px 0

  footer
    padding: 0 0 45px

  .header-box__links-val
    top: -19px
    right: -24px

  .advantages-box
    padding: 0 0 0 20px

  .btn-scroll-up
    width: 50px
    height: 50px

  .modal-sentence, .modal-entrance
    .form-group
      max-width: none

  .modal-entrance .modal-dialog
    max-width: 540px

  .form-search-default
    display: none

  .breadcrumb
    margin: 0 0 20px

  .page
    h1
      margin: 0 0 20px

  .contacts-box
    margin: 0 0 30px
    h3
      margin: 0 0 25px
      font-size: 25px

  .list-contacts
    font-size: 14px
    margin: 0 0 25px
    li
      margin: 0 0 10px

  .score-slider__box
    height: 400px

  .score-slider-preview
    margin: 25px 0 0

  .contacts-page-head
    display: flex
    align-items: center
    justify-content: space-between

  .contacts-img
    max-width: 225px
    margin: 0 40px 0 0

  .contacts-page-content__item .form-callback .form-group
    max-width: none

  .pagination
    max-width: 290px
    li
      &:nth-child(7)
        margin: 0 10px 0 0
      &:nth-child(5), &:nth-child(10)
        margin: 0

  .card-product-col
    max-width: 25%
    flex: 25%

  .catalog-wrapper
    .card-product-col
      &:nth-child(-n+5)
        display: none
      &:nth-child(-n+4)
        display: block

  .sorting-box
    align-items: flex-start
    width: auto
    margin: 0
    .select-view
      display: flex
      height: auto
    .list-sorting
      display: none

  .form-result-filter .clear-filter, .value-order-search
    margin: 10px 0 0
    width: 50%

  .value-order-search
    order: 1
    text-align: right

  .share-item
    width: 100%
    margin: 8px 0 0

  .details-information__box
    margin: 0 0 30px

  .table-products .tr
    padding: 10px 0

  .table-products
    font-size: 13px

  .header-top
    background: transparent

  .form-filter-catalog .radio
    padding: 12px
    height: 40px
    .label
      font-size: 12px


  .form-filter-catalog .dropdown-toggle
    height: 40px
    font-size: 12px
    padding: 12px 24px

  .wholesale-catalog-wrapper
    .tagging-filter
      height: 30px
    .form-filter
      margin: 0 0 30px

  .order-details-group
    margin: 0 0 10px

  .card-order-product__price, .card-order-product__value, .card-order-product__sum
    width: 13%

@media only screen and (max-width: 850px)
  .reviews-opinion
    padding: 12px 30px

    img
      max-width: 76px

    h3
      font-size: 25px

  .container
    padding: 0 30px

  .table-products
    .table-head
      display: none
    .table-body
      .td
        display: flex
        align-items: center
        flex-wrap: wrap

      .tr
        position: relative
      .td-remainder, .td-season
        display: none

  .td-hidden
    display: block
    margin: 0 5px 0 0

  .td-photo
    width: 75px

  .table-products__photo
    max-width: 60px

  .table-hidden
    display: flex

  .td-name
    width: 38%

  .list-remainder
    flex-direction: row
    align-items: center
    li
      margin: 0 10px 0 0
      &:last-child
        margin: 0

  .td-row-price
    flex-direction: column
    align-items: flex-start

  .td-price
    width: 100%

  .filter-orders button
    max-width: 174px

  .btn-details
    span
      display: none
    &:after
      margin: 0

  .card-order__sum
    width: 16%

  .card-order__status
    width: 35%

  .card-order__value-position, .card-order__date
    width: 17%

@media only screen and (max-width: 768px)
  .sidebar-wrapper
    position: fixed
    left: 0
    bottom: 0
    width: 100%
    height: 110px
    z-index: 3

  .navigation
    display: flex
    align-items: stretch
    justify-content: space-between
    font-size: 10px

    .nav-item
      height: 110px
      border:
        bottom: none
        right: 1px solid #242424

      &:last-child
        border: none

    .active
      &:before
        height: 4px
        width: calc(100% + 20px)
        top: auto
        bottom: -10px
        left: -10px

  .wrapper
    padding: 0 0 110px

  .content-wrapper
    width: 100%

  footer .box-text
    font-size: 14px
    line-height: 24px

  .dropdown-toggle-filter
    min-width: 150px

  .dropdown-toggle
    font-size: 14px

  header .phone
    font-size: 15px

  .main-home__title
    justify-content: flex-start

  .main-home
    padding: 220px 0 80px

  .btn-filter-result
    max-width: 209px

  .btn-accent
    padding: 20px

  .btn
    font-size: 14px

  .advantages-section
    padding: 40px 0 60px

  .advantages-box
    margin: 0 0 40px

  .sales-slider-box
    padding: 7px 40px

    h3
      font-size: 34px
      margin: 0 0 6px

  .box-condition
    padding: 10px 20px
    font-size: 14px

  .callback-manager__avatar
    width: 144px
    margin: -20px 0 0 -20px

    &:before
      width: 144px
      height: 144px

  .callback-manager__form button
    font-size: 18px

  .btn-accent
    padding: 11.5px 20px

  .advantages-box-about
    margin: 0 0 22px

  .about-box
    font-size: 15px
    line-height: 18px

    h3
      font-size: 24px
      line-height: 32px

    &__top
      margin: 0 0 30px

  .scores
    margin: 10px 0 0

  .reviews-opinion
    margin: 0 0 40px
    display: flex
    align-items: center
    justify-content: space-between

    img
      order: -1
      margin: 0 20px 0 0
      max-width: 76px

    h3
      text-align: left

    .btn
      max-width: 256px
      font-size: 15px

  .reviews
    padding: 59px 0 78px

  .btn-border
    font-size: 18px

  .footer-item .phone
    font-size: 16px

  footer .logo
    max-width: 100%
    margin: 0 0 30px

  .links-doc
    font-size: 14px

  .developer
    margin: 30px 0 0

  .footer-col
    display: flex
    flex-direction: column
    align-items: flex-start

  .footer-menu-last
    order: 1
    margin: 34px 0 0

  .footer-menu
    margin: 0 0 34px

  footer
    padding: 0 0 80px


  .btn-basket-fixed
    .header-box__links-val
      right: -10px
      top: -10px

  .tooltip-box
    min-width: 320px
    padding: 30px

  .tooltip-box__img
    max-width: 152px

  .tooltip-box__content
    margin: 20px 0 0

    .box-text
      font-size: 12px
      line-height: 18px

  .tooltip-box__footer a
    font-size: 12px

  .modal-entrance input, .links-border, .quick-entry
    font-size: 13px

  .page
    margin: 13px 0 0
    h1
      font-size: 40px

  .catalog
    margin: 30px 0 150px

  .greeting-manager
    max-width: none
    margin: 0 0 20px

  .greeting-manager-box
    padding: 23px 30px 16px
    .callback-manager__item
      max-width: none
      p
        max-width: none
        margin: 0 0 20px

      br
        display: none

  .greeting-manager-box__photo
    max-width: 133px
    height: 147px
    position: relative
    right: 0
    top: 0
    margin: -41px 0 0

  .product-photo
    height: 539px

  .other-goods .sorting-wrapper .sorting-box
    display: flex
    margin: 20px 0 0
    .select-view
      border-bottom-color: #E1E1E1
      color: $text

  .table-products
    font-size: 12px

  .list-characteristics .form-group__title
    min-width: 200px
    max-width: 200px

  .sorting-wrapper .catalog-footer
    display: none

  .wrapper-my
    padding: 0

  .wholesale-catalog
    margin: 0

  .dropdown-toggle.phone:after
    display: none

  .wholesale-catalog-wrapper .form-filter-catalog .dropdown-toggle
    min-width: auto

  .cabinet
    margin: 40px 0


@media only screen and (max-width: 710px)
  .td-name
    width: 32%

  .td-season-mob
    margin: 4px 0

  .other-goods .list-checkbox li
    width: 100%
    margin: 0 0 10px

  .nav-catalog__links
    font-size: 12px
    padding: 12px

  .order-footer
    .btn
      font-size: 12px
      height: 40px
      padding: 8px 25px


@media only screen and (max-width: 680px)
  .card-product-col
    max-width: 33.3%
    flex: 33.3%

  .catalog-wrapper
    .card-product-col
      &:nth-child(-n+4)
        display: none
      &:nth-child(-n+3)
        display: block

  .list-form-result
    flex-wrap: wrap
    li
      width: 100%
      margin: 0 0 10px
      &:last-child
        margin: 0

  .pagination li
    margin: 0
    a, span
      width: 40px
      height: 40px

  .pagination
    max-width: 235px
    font-size: 12px

  .pagination-list-arrow
    margin: 0 0 0 10px

  .filter-orders
    margin: 0 0 20px
    .form-group
      width: 100%
      max-width: none
      margin: 0 0 10px
    input
      height: 40px
      font-size: 12px
    .form-group__title
      font-size: 12px
    button
      height: 40px
      max-width: none
      font-size: 12px

  .card-order-head
    padding: 10px
    font-size: 12px
    .availability-item
      font-size: 12px
    .successfully-icon
      margin: 0 10px 0 0

  .card-order-body
    padding: 0 20px 20px

  .card-order-product
    font-size: 12px

  .order-details-list
    font-size: 12px
    li
      padding: 7px 0

  .order-details
    margin: 10px 0

@media only screen and (max-width: 640px)
  header .phone
    margin: 0 auto 0 0

  .container
    padding: 0 30px

  .sorting-box
    width: 100%
    margin: 10px 0 0

  .td-name
    width: 100%

  .table-products
    .tr
      position: relative
      padding: 20px 0 20px 78px
      align-items: flex-start
    .table-body
      .td-photo
        align-items: flex-start
    .td
      margin: 0 0 4px
      &:last-child
        margin: 4px 0 0


  .td-photo
    position: absolute
    left: 0
    top: 20px
    width: 63px
    height: 93px
    align-items: flex-start

  .td-season-mob, .td-row-price
    width: 100%



  .table-products__photo
    max-width: 63px

/* Custom, iPhone Retina */
@media only screen and (max-width: 575px)
  .header-top
    padding: 20px 0 10px

  .header-box-contacts .links
    border-bottom: 2px dashed #5E5E5E

    .links-icon
      display: none

  header
    .logo
      max-width: 260px
      margin: 0 auto

  .main-home
    padding: 170px 0 40px
    background: #000000 url("../img/bg1.jpg") no-repeat center top
      size: 100%

  .navigation
    width: 100%
    flex-wrap: wrap
    justify-content: space-between
    font-size: 12px

    .nav-item
      width: calc(50% - 2px)
      height: 148px
      padding: 0
      border: none
      margin: 0 0 4px

    .nav-links
      background: #333333
      border-radius: 4px

      &:before
        display: none

  .nav-links__icon
    width: 80px
    height: 80px

  .sidebar-wrapper
    display: none

  .header-menu
    width: 100%
    display: flex
    align-items: stretch
    justify-content: space-between
    flex-wrap: wrap
    font-size: 12px
    font-weight: 600
    font-family: $font

  .header-menu__item
    margin: 0 0 4px
    width: calc(50% - 2px)

  .header-menu__links
    background: #191919
    border-radius: 4px
    padding: 8px 15px
    justify-content: flex-start
    color: #fff
    text-align: left
    height: 50px

  .header-menu__links-icon
    stroke: #fff

  .advantages-box
    padding: 0

  .sales-slider-wrapper
    order: -1
    margin: 0 0 40px

  .advantages-section
    padding: 0 0 40px

    .container
      padding: 0

  .advantages-boxes
    padding: 0 30px

  .advantages-box
    font-size: 12px
    margin: 0 0 20px

    p
      font-size: 18px
      margin: 0 0 10px
      line-height: 18px

  .sales-slider-box
    padding: 9px 20px

    h3
      font-size: 17px
      max-width: 170px
      margin: 0 auto 3px
      line-height: normal

  .box-condition
    padding: 4px 9px
    font-size: 6px

  .callback-manager
    padding: 33px 0 49px
    background: #000 url("../img/bg-callback.png") no-repeat center top
      size: 100%

  .callback-manager__wrapper
    flex-direction: column
    align-items: flex-end

  .callback-manager__avatar
    margin: 0 0 25.5px
    width: 125px
    order: -1

    &:before
      width: 140px
      height: 140px
      left: -8px

  .callback-manager__form
    margin: 0 auto

    button
      max-width: none
      font-size: 12px

  .callback-manager__item
    font-size: 12px
    padding: 12px 17px

    strong
      font-size: 12px
      margin: 12px 0 0

  input, textarea, select
    font-size: 12px

  .advantages-box-about
    width: calc(50% - 15px)

  .about
    padding: 40px 0

  h2
    font-size: 25px

  .img-logo
    margin: 20px auto
    max-width: 260px

    .svg-icon
      width: 100%
      height: 30px

  .description-text
    font-size: 12px

  .advantages-wrapper
    margin: 20px 0 0

  .advantages-box-about
    margin: 0 0 30px
    font-size: 12px

    h3
      font-size: 14px
      margin: 0 0 10px

  .advantages-box-about__body
    margin: 10px 0 0

  .about-box
    margin: 0 0 15px
    padding: 27px 20px
    font-size: 12px
    line-height: 12px

    &__top
      margin: 0 0 15px

    h3
      font-size: 14px
      line-height: 14px

  .scores
    margin: 0

    .map
      width: calc(100% + 60px)
      margin: 0 0 0 -30px

  .map
    height: 230px

  .nav-tabs .nav-link
    padding: 12px 18px
    text-align: center
    font-size: 12px
    display: flex
    align-items: center
    justify-content: center
    height: 60px

  .scores .tab-content h3
    font-size: 18px
    line-height: 23px
    margin: 0 0 20px

  .address-score__list
    font-size: 12px

    li
      margin: 0 0 15px

  .address-score .links-dashed
    margin: 20px 0 0

  .links-dashed
    font-size: 12px

  .reviews
    padding: 23px 0 50px

    .title-line
      margin: 0 0 20px


  .reviews-opinion
    padding: 17.5px 28px
    flex-wrap: wrap
    justify-content: flex-start
    margin: 0 auto 10px

    img
      max-width: 36px
      margin: 0 20px 0 0

    h3
      font-size: 14px

    .btn
      max-width: none
      margin: 10px 0 0
      font-size: 12px

  .reviews-slider
    .slick-dots
      justify-content: center
      margin: 40px auto 0

    .slick-list
      overflow: visible

  .reviews-box
    font-size: 12px

  .reviews-box__body
    line-height: 12px
    font-size: 12px

  .reviews-box__name, .reviews-box__top
    font-size: 12px

  footer
    padding: 40px 0 34px

    .logo
      margin: 0 auto 30px
      width: 260px
      height: 30px

    .navigation
      width: 100%

      .nav-links
        height: 148px
        background: #F7F7F7
        color: $text

    .header-menu
      .header-menu__links
        background: #F7F7F7
        color: $text

      .header-menu__links-icon
        stroke: #000

      .stroke-none
        fill: #000

    .box-text
      font-size: 12px
      line-height: 100%

  .footer-box
    width: 100%
    margin: 0 0 30px

    h3
      font-size: 18px
      margin: 0 0 30px
      font-weight: 700

  .wrapper
    padding: 0 0 60px

  .footer-item
    width: 100%

    .phone
      font-size: 26px
      margin: 15px 0 10px

  .copyright, .links-doc, .developer
    font-size: 12px

  .logo-developer
    max-width: 58px

  .footer-row-info
    margin: 0

  .mobile-fixed
    display: block

  .btn-scroll-up
    bottom: 70px

  .modal-content
    padding: 25px 30px

    h2
      font-size: 18px
      text-align: left

  .modal-header
    margin: 0 0 10px

  .input-title
    text-align: left
    justify-content: flex-start
    margin: 0 0 5px
    font-size: 12px

  .form-callback
    display: flex
    flex-direction: column
    align-items: flex-start

    label
      margin: 0 0 10px

    input
      text-align: left
      padding: 0 20px

    button
      margin: 10px auto 0
      font-size: 12px
      max-width: none
      padding: 12px 20px
      height: 40px


  .necessarily
    font-size: 12px
    justify-content: flex-start

  .consent
    order: 1
    margin: 10px 0 0
    text-align: left
    font-size: 10px

  .label-phone
    order: -1

  .header-menu-cabinet
    li
      width: 100%

  button.close
    top: 25px
    right: 30px

  .modal-img
    margin: 0 auto 20px

  .modal-thanks
    .box-text
      margin: 10px auto 0
      font-size: 12px
      font-weight: normal

    h2
      text-align: center

  .btn-close-modal
    width: 100%
    padding: 11px 20px
    font-size: 12px
    margin: 20px auto 0

  .form-callback__footer
    flex-wrap: wrap
    margin: 10px 0 0

    button
      width: 100%
      margin: 0 auto 10px

    .consent
      width: 100%
      padding: 0

  .modal-sentence, .modal-entrance
    .necessarily
      margin: 0

    .form-callback
      .form-group
        margin: 0 0 10px

        label
          max-width: none

  .tooltip-box-basket
    position: fixed
    left: 50%
    bottom: 73px
    top: auto
    transform: translate(-50%, 0)
    box-shadow: 0px 80px 150px rgba(0, 0, 0, 0.2)
    background: linear-gradient(0deg, #000000, #000000), #282E2C
    border-radius: 5px
    color: #fff
    width: calc(100% - 20px)
    max-width: none
    border: none
    padding: 30px
    .tooltip-box__header
      margin: 0
    .links-dashed
      font-size: 15px
      color: #fff
    .btn-close
      background: #4F4F4F
      fill: #fff
    h4
      font-size: 12px
    .successfully-icon
      width: 32px
      height: 32px
      min-width: 32px
      padding: 12px

  .modal-entrance
    .nav-tabs-filter
      font-size: 16px
    input
      height: 40px
      padding: 0 16px
    button
      margin: 0 auto
    .consent
      margin: 15px 0 0
      order: 0

  .links-border
    font-size: 12px

  .page
    margin: 26px 0 0

  header
    .logo
      height: 29px

  .form-search
    input
      font-weight: normal
      padding: 0 15px
    button
      right: 21px

  .page
    h1
      font-size: 18px

  .contacts-box
    h3
      font-size: 18px

  .list-contacts
    font-size: 12px

  .score-slider__box
    height: auto

  .score-slider
    width: calc(100% + 60px)
    margin: 0 -30px

  .score-slider-preview__item
    width: 54px
    height: 40px
    margin: 0 14px 0 0

  .breadcrumb
    font-size: 10px

  .contacts-page-content__item
    margin: 25px 0 0
    h3
      font-size: 18px
      margin: 0 0 20px

  .list-requisites
    font-size: 12px
    li
      flex-wrap: wrap
    p
      width: 100%
      min-width: auto

  .contacts-page-content__item .form-callback .necessarily
    margin: 4px 0 10px

  .contacts-page-content__item .form-callback label
    margin: 0 0 16px

  .contacts-page-content__item .form-callback .form-group label
    max-width: none

  .contacts-page-content__item .form-callback input
    height: 40px
    padding: 0 15px

  .contacts-page-content__item .callback-manager__item
    margin: 0 0 20px

  .links-address-map
    font-size: 12px
    padding: 16px 34px

  .map-wrap
    width: calc(100% + 60px)
    margin: 0 -30px

  .contacts-company
    font-size: 16px
    p
      display: none

  .contacts-img
    max-width: 112px
    margin: 0 0 10px

  .contacts-page-head
    flex-wrap: wrap
    .callback-manager__item
      margin: 0
      width: 100%

  .form-result-filter
    display: none

  .sorting-wrapper
    margin: 0
    .checkbox
      font-size: 10px

  .sorting-box, .sorting-box__title
    font-size: 10px

  .sorting-box__title
    .icon
      display: none

  .sorting-box
    .select-view
      font-size: 10px
      margin: 0 0 0 10px
      padding: 0 15px 4px 0
      color: $text
      border-bottom-color: #E1E1E1

  .form-filter-catalog
    box-shadow: none
    margin: 0 0 25px
    padding: 0 0 30px
    .dropdown-toggle
      font-size: 12px
      height: 40px
      padding: 10px 15px
    .radio
      height: 40px
      font-size: 12px
      padding: 10px
    .form-filter-footer
      margin: 10px auto 0
      flex-direction: column
      align-items: center
      .btn
        padding: 9px 20px
        max-width: 260px
    .links-question
      margin: 0 auto
      justify-content: center
      order: 1
      border-bottom: 2px dashed #E1E1E1
      color: $text
      .links-question__icon
        fill: none
        stroke: #000
    .clear-filter
      margin: 10px auto
      font-size: 12px
      justify-content: center
    .links-question__icon
      width: 18px
      height: 16px
    .form-group__title
      font-size: 12px
      margin: 0 0 5px
    .form-group
      margin: 0 0 10px
      max-width: 49%
      width: 100%
      &:nth-child(-n+3)
        max-width: 100%
        width: 100%
      &:nth-child(3)
        max-width: 49%
      &:nth-child(-n+2)
        max-width: 100%
      &:nth-child(7)
        max-width: 100%

  .catalog
    margin: 26px 0 90px
    h1
      margin: 0
      font-size: 25px
    .title-line
      .links-question
        display: none
    .sales-slider-wrapper
      margin: 0 -30px 20px
      width: calc(100% + 60px)

  .dropdown-toggle:after
    border-top-width: 4px
    border-left-width: 3px
    border-right-width: 3px

  .sales-slider.slick-dotted, .catalog-wrapper, .card-product
    margin: 0 0 20px

  .catalog-wrapper
    display: flex
    flex-direction: column
    align-items: flex-start

  .card-product-col
    max-width: 50%
    flex: 50%

  .card-product
    font-size: 10px
    line-height: 100%
    height: 250px
    &__img
      height: 148px
    &__name
      margin: 0 0 10px
      max-width: 120px

  .availability-item
    margin: 0 0 10px
    font-size: 8px

  .price
    margin: 10px 0 0
    font-size: 14px
    line-height: 24px


  .catalog-footer
    .catalog-views
      display: none


  .nav-pagination
    max-width: none
    width: 100%


  .pagination
    max-width: none
    width: 100%

  .pagination-list-arrow
    margin: 0 auto
    li
      a
        width: 20px
        height: 20px

  .btn-load
    margin: 0 auto 20px

  .add-favorite
    width: 20px
    height: 20px
    right: 0
    top: 0

  .greeting-manager-box
    margin: 10px 0 0
    padding: 14px 23px 20px

  .greeting-manager-box__photo
    max-width: 116px
    margin: -14px -50px 0 0

  .reviews-item
    margin: 0 0 10px
    font-size: 12px
    &__body
      font-size: 12px
      line-height: 18px
      .box-text
        -webkit-line-clamp: 23
    &__head
      margin: 0 0 20px

  .reviews-page
    .catalog-footer
      margin: 10px 0 0

  .other-goods
    margin: 20px 0 0
    h2
      font-size: 25px
      margin: 0 0 20px
    .load-more
      width: 100%

  .table-footer
    padding: 0
    box-shadow: none
    margin: 20px 0 0

  .table-availability
    font-size: 12px
    .table-head
      display: none
    .tr
      position: relative
      padding: 10px 50px 10px 34px
    .list-contacts__icon
      width: 24px
      height: 22px
      left: 0
      top: 50%
      transform: translate(0,-50%)
      position: absolute
    .td
      margin: 0 0 10px
      &:last-child
        margin: 0
      &:first-child, &:nth-child(2), &:nth-child(3)
        width: 100%
    .availability-item
      font-size: 12px
    .btn-clock
      position: absolute
      right: 0
      top: 50%
      transform: translate(0,-50%)

  .details-information
    margin: 0 0 20px
    h3
      margin: 0 0 10px
      font-size: 25px

  .details-information__box
    .box-text
      font-size: 12px
      line-height: 14px

  .details-information-mobile
    margin: 33px 0 0

  .share-title
    font-size: 12px

  .list-characteristics
    margin: 20px 0
    font-size: 12px
    .form-group__title
      max-width: 200px
      min-width: 200px
      padding: 0 40px 0 0

  .product-photo
    margin: 20px 0
    width: 100%
    height: 260px

  .product-wrapper
    margin: 0

  .article
    font-size: 12px

  .purchase-block__item .price
    font-size: 25px
    margin: 5px 0 0

  .purchase-block__item-top
    font-size: 12px
    margin: 0 0 5px

  .purchase-block__item
    margin: 0 0 15px

  .amount-wrapper
    margin: 15px 0
    p
      font-size: 12px
      margin: 0 0 5px
    .amount
      height: 40px

  .total-sum
    font-size: 36px

  .purchase-block .btn
    font-size: 12px
    height: 40px

  .breadcrumb-item.active
    display: none

  .title-mobile
    margin-top: 0

  .nav-catalog, .wholesale-catalog-wrapper header .dropdown-phone
    display: none

  .wholesale-catalog-wrapper header .phone
    margin: 0 auto 0 0

  .wholesale-catalog-wrapper .header-bottom
    padding: 0

  .wholesale-catalog
    margin: 30px 0 0

  .wholesale-catalog .form-filter-catalog .form-group
    width: 49%
    &:nth-child(-n+3)
      width: 100%
      max-width: none
    &:nth-child(8)
      width: 100%
      max-width: none

  .wholesale-catalog-wrapper
    .form-filter
      margin: 0
    .other-goods
      margin: 0 0 18px
      .sorting-wrapper
        margin: 0
        padding: 0 0 20px
        border-bottom: 1px solid #E0E0E0
    footer
      padding: 0
      .logo
        margin: 0 0 30px
    .btn-load
      padding: 10px 20px
      margin: 20px auto
      border: 2px solid #000
        radius: 4px
      font-size: 12px
      height: 44px
      span
        border: none
        padding: 0

  .cabinet
    margin: 26px 0 20px

  .btn-details
    display: none

  .card-order__status
    order: 1
    width: 60%
    margin: 5px 0 0

  .card-order__value-position
    order: 1
    margin: 5px 0 0
    width: 40%

  .card-order-head
    flex-wrap: wrap

  .card-order__number, .card-order__date, .card-order__sum
    width: 33.3%

  .card-order__number
    display: flex
    align-items: center
    &:after
      content: ''
      display: inline-block
      border:
        top: 5.5px solid #000
        left: 4px solid transparent
        right: 4px solid transparent
      margin: 0 0 0 10px
      transform: rotate(180deg)

  .collapsed
    .card-order__number
      &::after
        transform: none

  .card-order-product
    position: relative
    flex-wrap: wrap
    padding: 20px 0 20px 60px
    font-size: 10px

  .card-order-product__code
    font-size: 8px
    margin: 0 0 5px

  .card-order-product__price, .card-order-product__value, .card-order-product__sum
    width: 33.3%

  .card-order-product__img
    width: 50px
    height: 58px
    min-width: 50px
    position: absolute
    left: 0
    top: 20px

  .card-order-product__name
    padding: 0
    width: 100%

  .order-details-list
    li
      flex-wrap: wrap
    p
      min-width: auto
      width: 100%

  .order-footer
    flex-direction: column
    align-items: flex-start
    .btn
      width: 100%
      margin: 0 0 10px
      &:last-child
        margin: 0